@font-face {
	font-family: 'Gotham';
	src:  url('../font/Gotham-Spotify-Font/Gotham-Black.ttf') format('truetype'),
		  url('../font/Gotham-Spotify-Font/Gotham-Bold.ttf') format('truetype');
  }

  :root{
	--fontVariants: 'Gotham', Helvetica, system-ui, 'Segoe UI', sans-serif;
    --content-max-width: 1955px;
	--content-spacing: 32px;
  }

/* ......................общие настройки............................. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  font-family: var(--fontVariants);
  font-weight: 630;
  font-style: normal;
  font-size: 14px;
  
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #121212;
}

::-webkit-scrollbar-thumb {
	background-color: #a7a7a7;
	transition: 2s;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #dad6d6;
}

/* ................left-bar-and-nav.............. */

.nav-text-decor-800 {
  font-weight: 630;
}


.main-block {
  width: 100%;
  height: 87%;
  display: flex;
}


.nav-bar {
  min-width: 241px;
  max-width: 241px;
  height: 102%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 24px;
  padding-bottom: 40px;
  position: relative;
  
}

.nav-bar__main-lists {
  margin-bottom: 30px;
}

.nav-bar__main-list {
  padding: 5px 5px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: left;
  transition: 0.2s;
  opacity: 0.7;
}

.nav-bar__main-list:hover {
  opacity: 1;
}


.nav-bar__logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 8px;
  padding-right: 20px;
  margin-bottom: 26px;
}

.nav-bar__logo--img {
  max-width: 72%;
}

.nav-bar__main-list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.nav-bar__main-list-link > * {
	pointer-events: none;
}

.nav-bar--icon {
  margin-right: 16px; 
}

.nav-bar-librarys {
  width: 100%;
  margin-bottom: 16px;
}

.nav-bar-library__box {
  width: 100%;
}

.nav-bar-library__add-button{
  width: 100%;
}
.nav-bar-library__box-img {
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 4px;
  margin-right: 16px;
}

.nav-bar-library-link-box {
  width: 100%;
  text-decoration: none;
  color: white;
}
.nav-bar-library-link-box > * {
	pointer-events: none;
}

.nav-bar-library__box-img-two {
  background: linear-gradient(135deg,#450af5,#c4efd9);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 4px;
  margin-right: 16px;
}

.decor-line {
  width: 100%;
  border: 1px solid rgb(32, 32, 32);
  margin-bottom: 16px;
}

.dowload-link {
  position: absolute;
  bottom: 0px;
  height: 40px;
  /* padding-left: 16px; */
  padding-right: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: left;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.2s;
  opacity: 0.7;
}

.dowload-link:hover {
  opacity: 1;
}


.dowload-link__img-box {
  margin-right: 18px;
}

/* ...........top-bar, login and controls............. */

.main-content {
  width: 100%;
  overflow-y: auto;
}

.root__top-bar {
	z-index: 2;
  top: 0;
  position: sticky;
  width: 100%;
  height: 64px;
  background-color: rgba(0,0,0,.5);
}

.header {
  width: 100%;
  z-index: 10;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  justify-content: right;
  font-size: 16px;
}

.btn-controls-contents{
	margin-right: auto;
  height: 64px;
  display: flex;
  gap: 16px;
  align-items: center;
  /* position: absolute; */
  /* width: 80px; */
  top: 0px;
  left: 32px;
  /* transform: translateY(50%); */
}

.btn-controls-content {
  width: 32px;
  height: 32px;
  background-color: rgba(0,0,0,.7);
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  opacity: 0.7;
}

.btn-controls-content > *{
	pointer-events: none;
}

.btn-controls-content:hover {
  opacity: 1;
}

.login-in-box {
  display: flex;
  align-items: center;
}

.registration-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  color: white;
  font-weight: 630;
  padding: 8px 32px 8px 8px;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.7;
  transition: 0.2s;
}

.registration-btn:hover {
  opacity: 1;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  font-weight: 630;
  padding: 10px 32px;
  line-height: 1.6;
  background-color: white;
}



/* ------------Search page------------ */

.wrapper{
	top: 0;
	position: sticky;
	z-index: 2;
	display: flex;
	align-items: center;
	/* background-color: #121212; */
	width: 100%;
	height: 64px;
	gap: 16px;
}
.searchTrack {
	flex: 0 1 364px;
}

.searchbox {
	margin-block: 0px;
  font-size: 0.8125rem;
  font-weight: 400;
	text-transform: none;
	border: 0;
  border-radius: 500px;
  color: #000;
  height: 40px;
  padding: 6px 48px;
  text-overflow: ellipsis;
	white-space: nowrap;
  width: 100%;
}

.searchbox:focus-visible{
	outline: -webkit-focus-ring-color auto 0px;
}
.nameOfList {
	padding-top: 48px;
	padding-left: 20px;
	/* letter-spacing: -0.08em; */
	color: white;
}
.collectionGenres {
	padding: 20px;
	grid-gap: 18px;
  display: grid;
  grid-template-columns: repeat(6,minmax(0,1fr));
	grid-auto-rows: 185px;
  min-width: 400px;
}
.genres {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nameOfGenres {
	pointer-events: none;
	user-select: none;
	margin-block: 0px;
	font-family: var(--fontVariants);
  font-size: 1.5rem;
  font-weight: 630;
	color: white;
	padding: 16px;
  position: absolute;
	overflow-wrap: break-word;
}
.imgOfGenres {
	right: 0;
  -webkit-transform: rotate(25deg) translate(18%,-2%);
  transform: rotate(25deg) translate(18%,-2%);
	bottom: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 100px;
  position: absolute;
  width: 100px;
  pointer-events: none;
	user-select: none;
	object-fit: cover;
  object-position: center center;
}