.player {
  background-color: #181818;
  width: 100%;
  height: 12.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  min-height: 65px;
  min-width: 100vw;
  border-top:  0.5px solid rgb(40, 40, 40);
}

.currSong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 5vh;
}

.options {
  width: 40vw;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.volume {
  display: inline-block;
  width: 20vw;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.likeWrap {
  width: 7%;
  height: auto;
  display: inline-block;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song {
  display: inline-block;
}

.songName {
  color: #d4d4d4;
}

.artist {
  color: #707070;
}

.hover:hover path{
  stroke-opacity: 1;
}

.play-pause {
  margin-top: 1.2vh;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.play-pauseBtn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: auto;
  width: auto;
  min-width: 32px;
  min-height: 32px;
  text-align: center;
}

.slider {
  appearance: none;
  width: 50%;
  height: 0.4vh;
  border-radius: 5px;
  background: #888686;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  display: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:hover::-webkit-slider-thumb {
  display: block;
}


.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.currTimeSlider {
  display: inline-block;
  width: 90%;
}

.songCurrTime {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.8vh;
}

.songOnPlayCurrTime {
  padding-right: 0.8vw;
  color: #707070;
  font-size: 0.87vw;
}

.songOnEndCurrTime {
  padding-left: 0.8vw;
  color: #707070;
  font-size: 0.87vw;
}

.prevTrackBtn {
  fill:#a2a2a2;
  height: 100%;
  width: 6%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  opacity: 0.7;
}

.nextTrackBtn {
  fill:#a2a2a2;
  height: 100%;
  width: 6%;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  opacity: 0.7;
}

.nextTrackBtn:hover {
  opacity: 1;
}

.prevTrackBtn:hover {
  opacity: 1;
}

.play-pauseBtn :hover {
  transform: scale(1.05)
}

.randTrackBtn {
  fill:#909090;
  height: 100%;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  opacity: 0.7;
}

.repeatTrackBtn{
  fill:#909090;
  height: 100%;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  opacity: 0.7;
}

.randTrackBtn:hover {
  opacity: 1;
}

.repeatTrackBtn:hover {
  opacity: 1;
}

.volume-icon{
  margin-right: 0.4vw;
  opacity: 0.8;
}

.volume-icon:hover {
  opacity: 1;
}