.player {
  background-color: #181818;
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.currSong {
  display: inline-block;
  width: 20vw;
  height: 5vh;
}

.options {
  width: 40vw;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.volume {
  display: inline-block;
  width: 20vw;
  height: 5vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likeWrap {
  width: 8%;
  height: auto;
  display: inline-block;
  margin-left: 4vw;
}

.song {
  display: inline-block;
}

.songName {
  color: #9c9c9c;
}

.artist {
  color: #525252;
}

.like {
  fill: green;
}

.play-pause{
  height: 50%;
}

.play-pauseBtn{
  background-image: url('..//img/btn-play.png');
}

.slider {
  appearance: none;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.currTimeSlider {
  display: inline-block;
  width: 90%;
}

.songCurrTime{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.songOnPlayCurrTime {
  padding-right: 1vw;
}

.songOnEndCurrTime {
  padding-left: 1vw;
}